@import "../globals.css";

.title-large{
    font-size: 22px;
    color: var(--md-sys-color-on-surface);
}

.title-medium{
    font-size: 16px;
    font-weight: bold;
    color: var(--md-sys-color-on-surface-variant);
}

.title-small{
    font-size: 14px;
    font-weight: bold;
    color: var(--md-sys-color-on-surface-variant);
}